
/*header*/
header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    
}

#logoBuscador {
    display: flex;
    align-items: center;

}

#cuadroSearch {
    margin-left: 5vw;
    padding: 10px;
    width: 25vw;
    border-color:#405009;
}

#log1 {
    height: 140px;
    width: auto;
}

#Search {
    color: white;
    background-color:#6C851B;
}

#Search:hover {
    background-color: #a6d118;
    transition-duration: 0.5s;
}

#iconosHeader img{
    height: 30px;
    width: 30px;
    margin: 5px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    overflow-x: hidden; /* Oculta cualquier desbordamiento en el eje horizontal */
}

/*contenedor del banner*/

.banner {
    margin-top: 20px;
    height: 20vw;
    width: 100vw;
    margin-bottom: 10vh;
    background-image: url('/U2/1_PROYECTOSOLOCSS/Elementos/fotos/image.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center center;

}


/*Div donde iran los productos*/
#contenedorP {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#productos {
    width: 80vw;
}

#productos {
    display: flex;
    flex-direction: column;
}

#filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filtrosChild {
    display: flex;
    flex-direction: row;
}

#filtrosChild p {
    margin-right: 25px;
}

/*aside*/
.barra {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 5%;
    border: 0.2px solid grey;
    padding: 10px;
    padding-bottom: 5px;
    box-shadow: #6C851B;
    border-radius: 15px;
    
}

/*Cards*/

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
    justify-content: center;
    align-items:center;
    margin-bottom: 25vh;
    
}

.eleIzq {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 4px 20px 0px;
    height: 20px;
    width: 30%;
    background-color: #a6d118;
}

.eleIzq p {
    color: white;
    font-weight: bold;
    font-size: smaller;
}

.tarjeta img {
    margin: 20px;
    width: 120px;
}

.tarjeta {
    display: flex;
    border : 0.2px solid rgb(206, 201, 201);
    /*margin: 25px;*/
    justify-content: space-between;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}

.tarjeta p {
    margin: 10px;
}

.tarjeta :hover {
    width: 150px;
    height: auto;
    transition: 0.5s ;
}

/*aside*/

.aside-items {
    border: 0.5px solid grey;
    padding: 5px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 3%;

}

.aside-items p {
    font-size: 
    20px;
}