
/*header*/
header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    
}

#logoBuscador {
    display: flex;
    align-items: center;

}

#cuadroSearch {
    border-color:#405009;
}

#log1 {
    height: 140px;
    width: auto;
}

#Search {
    color: white;
    background-color:#6C851B;
}

#Search:hover {
    background-color: #a6d118;
    transition-duration: 0.5s;
}

#iconosHeader img{
    height: 30px;
    width: 30px;
    margin: 5px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    overflow-x: hidden; /* Oculta cualquier desbordamiento en el eje horizontal */
}

/*contenedor del banner*/

.banner {
    margin-top: 20px;
    height: 20vw;
    width: 100vw;
    margin-bottom: 15px;
    background-image: url('/U2/1_PROYECTOSOLOCSS/Elementos/fotos/image.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center center;

}


/*Div donde iran los productos*/
#contenedorP {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#productos {
    width: 80vw;
}

#productos {
    display: flex;
    flex-direction: column;
}

#filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filtrosChild {
    display: flex;
    flex-direction: row;
}

#filtrosChild p {
    margin-right: 25px;
}

/*aside*/
.barra {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 5%;
    border: 0.2px solid grey;
    padding: 5px;
    box-shadow: #6C851B;
}

/*Cards*/

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    border : 2px solid red;
    gap: 25px;
    justify-content: starts;
    align-items:center;
}

.tarjeta img {
    margin: 20px;
    width: 120px;
}

.tarjeta {
    display: flex;
    border : 3px solid rgb(206, 201, 201);
    /*margin: 25px;*/
    justify-content: space-between;
    flex-direction: column;
}

.tarjeta p {
    margin: 10px;
}

/*aside*/

.aside-items {
    border: 0.5px solid grey;
    padding: px;
    width: 200px;
    text-align: center;
}