
/*header*/
header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    
}

#logoBuscador {
    display: flex;
    align-items: center;

}

#cuadroSearch {
    border-color:#405009;
}

#log1 {
    height: 140px;
    width: auto;
}

#Search {
    color: white;
    background-color:#6C851B;
}

#Search:hover {
    background-color: #a6d118;
    transition-duration: 0.5s;
}

#iconosHeader img{
    height: 30px;
    width: 30px;
    margin: 5px;
}

#contenedorP {
    display: flex;
    flex-direction: row;
}

#productos {
    width: 80vw;
}

#productos {
    display: flex;
    flex-direction: column;
}

#filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filtrosChild {
    display: flex;
    flex-direction: row;
}

#filtrosChild p {
    margin-right: 25px;
}

#barra {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 5%;
}