@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#iconoLogin {
    width: 180px;
}
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 20vh;
}
h1 {
    font-size: 30px;
    font-family: 'Montserrat';
    
}
#google {
    margin-top: 1%;
    border-style: solid;
    border-color: green;
    background-color: white;
    padding: 15px;
    width: 16.5vw;
    border-radius: 7px 7px 7px;
    color: green;
}
#google:hover{
    background-color: rgb(225, 238, 225);
}

p {
    color: rgba(202, 202, 190, 0.959);
}


#email {
    width: 15vw;
    padding: 15px;
    margin: 1px;
}

#passwd {
    width: 15vw;
    padding: 15px;
    margin: 1px;
}

#recuerda {
    color: rgb(111, 182, 111);
}

#loginB {
    width: 15vw;
    padding: 15px;
    border-style: solid;
    border-color: rgb(10, 68, 10);
    border-radius: 7px 7px 7px;
    background-color: rgb(68, 88, 38);
    color: white;
}

#loginB:hover {
    background-color: rgb(67, 128, 67);
    transition-duration: 0.2s;
}

a {
    text-decoration: none;
}